# Miscellaneous
*.iml
.idea/
.vscode/
.DS_Store
.env
.fvm/

# Build artifacts
/build
.dart_tool/
.packages
/ios/
/macos/

# Dependencies
/my_headspace/.flutter-plugins
/my_headspace/.flutter-plugins-dependencies
/my_headspace/.dart_tool
/my_headspace/build

# Crash reporting
*.core
*.stackdump
*.temp

# IDEs and editors
.history
.vs
*.suo
*.user
*.bak
*.mine
*.old
*.pyc
*.pyo
*.rbc
*.sqlite3
*.prof
*.ilk
*.aps
*.pch
*.ipch
*.obj
*.pdb
*.pgm
*.idb
*.lib
*.ncb
*.opendbl
*.opensdf
*.res
*.sbr
*.sdf
*.log
*.vspscc
*.vssscc
*.waf
*.webtest
*.xsc
*.xem
*.layout
*.vcproj
*.vsp
*.bsc
*.msc
*.scc
*~
*.log
*.diff
*.err
*.orig
*.rej
*.swo
*.swp
*.bak
*.trn
*.sys
*.obj
*.lib
*.a
*.o
*.exe
*.dll
*.so
*.dylib
*.pdb
*.out
*.app
*.apk
*.ipa
*.dmg
*.iso
*.bin
*.hex
*.lst
*.map
*.asm
*.o
*.ko
*.mod
*.sym
*.gz
*.zip
*.tar
*.rar
*.7z
*.pyc
*.class
*.jar
*.war
*.ear
*.ser
*.lock
*.blg
*.tlog
*.fan
*.fdb
*.fdd
*.flex
*.for
*.gch
*.gpch
*.gpd
*.gra
*.graphql
*.grv
*.gsp
*.gtm
*.hmap
*.hpl
*.html
*.htc
*.icl
*.id
*.idc
*.idx
*.jdf
*.jmk
*.jnlp
*.json
*.jsonl
*.jsp
*.kml
*.kmz
*.ktr
*.lch
*.ldb
*.lgf
*.lhs
*.lisa
*.lit
*.lk
*.lpi
*.lpr
*.lsp
*.mak
*.man
*.mdf
*.mex
*.mexa64
*.mexglx
*.mexmac
*.mm
*.mmap
*.mo
*.mot
*.mp
*.mpd
*.mpt
*.mrb
*.ms
*.msd
*.mtl
*.mwb
*.mwz
*.myd
*.myi
*.n
*.nb
*.nc
*.ncb
*.nco
*.ndf
*.ngbr
*.ngc
*.ngr
*.nh
*.nls
*.nupkg
*.nvram
*.o
*.obj
*.ocx
*.old
*.ole
*.olx
*.opt
*.osd
*.osm
*.otp
*.ovpn
*.p
*.pac
*.patch
*.pcap
*.pcd
*.pcf
*.pdb
*.pdm
*.pds
*.pem
*.pfa
*.pfb
*.pfg
*.pfr
*.pg
*.php
*.phpt
*.pid
*.pif
*.pkg
*.pl
*.pm
*.po
*.pod
*.pom
*.pot
*.ppd
*.prc
*.prefs
*.pri
*.properties
*.ps
*.ps1
*.psd
*.pst
*.ptw
*.pub
*.pwi
*.py
*.pyc
*.pyd
*.pyo
*.qcow2
*.qf
*.qfx
*.qml
*.qph
*.qpt
*.qry
*.qvd
*.r
*.rake
*.rar
*.rb
*.rbl
*.rbt
*.rc
*.rdf
*.rdo
*.rdp
*.reg
*.res
*.resx
*.rgb
*.rhtml
*.rjs
*.rkt
*.rlib
*.rmd
*.rmi
*.rom
*.rpm
*.rpx
*.rq
*.rs
*.rss
*.rst
*.rtf
*.rvm
*.s
*.sass
*.scss
*.sdf
*.ses
*.sfw
*.sgml
*.sh
*.sql
*.sqlite
*.sqlite3
*.svg
*.sublime-project
*.sublime-workspace
*.tcl
*.tdf
*.tgz
*.tif
*.tiff
*.tmp
*.torrent
*.tpl
*.ttf
*.twig
*.txt
*.udf
*.vbs
*.vcd
*.vdi
*.vmdk
*.vob
*.vsd
*.vsdx
*.vss
*.vst
*.vtx
*.war
*.webm
*.webp
*.wma
*.wmf
*.woff
*.woff2
*.wsf
*.xaml
*.xls
*.xlsx
*.xml
*.xpt
*.xsd
*.xsl
*.xslt
*.yaml
*.yml
*.zip
*.log
*.txt
*.md
.flutter-plugins
.flutter-plugins-dependencies
.dart_tool
.packages
.idea
.vscode
.DS_Store
# Avoid tracking generated files from build_runner
lib/**/*.g.dart
lib/**/*.freezed.dart
